$color-footer: #000000;
$color-newsletter: #000000;
$color-newsletter-alt: #F83D3D;
$color-btn-1: #F83D3D;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-transparent-black: rgba(0, 0, 0, 0.5);
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// TYPOGRAPHY

h1, h2, h3, h4 {
    text-transform: uppercase;
}

//COMPONENTS

button {
    text-transform: uppercase;

}

.btn-1 {
    background-color: $color-btn-1;
    color: white;
}

//NAVBAR

.navbar {

    background-color: black;

}

//CAROUSEL

.carousel-section {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .carousel {
        max-height: 90vh;
        overflow: hidden;


            h1 {
                font-size: 4rem;

            }
        }

    }

@media only screen and (min-width: $lg){

    .carousel-section {

        .carousel {

            .carousel-caption {
                top: 20%;
            }

            h1 {
                font-size: 5rem;

            }

            button {
                font-size: 1.5rem;
            }

        }

    }

}    


@media only screen and (max-width: $lg){

    .carousel-section {

        .carousel {

            .carousel-caption {
                top: 25%;
            }

            h1 {
                font-size: 4rem;

            }

            button {
                font-size: 1.25rem;
            }
        }

    }

}    

@media only screen and (max-width: $md){

    .carousel-section {
    
        .carousel {

            .carousel-caption {
                top: 25%;
            }

            h1 {
                font-size: 3rem;

            }

            button {
                font-size: 1rem;
            }
        }
    
    }
    
}

@media only screen and (max-width: $sm){

    .carousel-section {
    
        .carousel {

            .carousel-caption {
                top: 25%;
            }

            h1 {
                font-size: 2rem;

            }
        }
    
    }

}

//INSTAGRAM GALLERY

.instagram-gallery {
    .col {
        padding: 0;
    }
    img {
        width: 100%;
    }
}
  

//BODY

.make-reservation {
    form {
        width: 100%;
    }

    button {
        width: 100%;
    }
}

.make-reservation {
    .col-lg-4 {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.newsletter {
    background-color: $color-newsletter;
    color: white;
    padding: 50px 0;

    button {
        width: 100%;
    }

    i {
        color: white;
        font-size: 1.5rem;

    }

    .social-icons-parent {
        text-align: center;

        .social-icons {
            display: inline-block;
            
        }
    
    }


}

.newsletter-alt {
    background-color: $color-newsletter-alt;
    color: white;
    padding: 50px 0;

    button {
        width: 100%;
        background-color: black;
    }

    i {
        color: white;
        font-size: 1.5rem;

    }

    .social-icons-parent {
        text-align: center;

        .social-icons {
            display: inline-block;
            
        }
    
    }


}

//BANNER

#banner-menu {
    background-image: url(../images/banner-menu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner {



    h1 {

        color: white;
    }

    .row {
        padding: 6rem 0;
    }
}

//MENU

.menu {
    .container {
        border: 10px solid grey;
    }

    .menu-section {
        background-color: #d1d1d1e7;
    }

    h4 {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
    }
}

//ABOUT US

.our-food {
    background-color: $color-btn-1;
    color: white;

    button {
        border: 1px solid white;
    }
}

//FOOTER

footer {
    background-color: $color-footer;
    

    h2 {
        color: white;
    }

    p {
        color: white;
        line-height: 1.5;
        margin-bottom: .25rem;
    }

    a {
        color: white;
        display: block;
    }


}

