h1, h2, h3, h4 {
  text-transform: uppercase; }

button {
  text-transform: uppercase; }

.btn-1 {
  background-color: #F83D3D;
  color: white; }

.navbar {
  background-color: black; }

.carousel-section .container-fluid {
  padding-right: 0;
  padding-left: 0; }

.carousel-section .carousel {
  max-height: 90vh;
  overflow: hidden; }
  .carousel-section .carousel h1 {
    font-size: 4rem; }

@media only screen and (min-width: 992px) {
  .carousel-section .carousel .carousel-caption {
    top: 20%; }
  .carousel-section .carousel h1 {
    font-size: 5rem; }
  .carousel-section .carousel button {
    font-size: 1.5rem; } }

@media only screen and (max-width: 992px) {
  .carousel-section .carousel .carousel-caption {
    top: 25%; }
  .carousel-section .carousel h1 {
    font-size: 4rem; }
  .carousel-section .carousel button {
    font-size: 1.25rem; } }

@media only screen and (max-width: 768px) {
  .carousel-section .carousel .carousel-caption {
    top: 25%; }
  .carousel-section .carousel h1 {
    font-size: 3rem; }
  .carousel-section .carousel button {
    font-size: 1rem; } }

@media only screen and (max-width: 576px) {
  .carousel-section .carousel .carousel-caption {
    top: 25%; }
  .carousel-section .carousel h1 {
    font-size: 2rem; } }

.instagram-gallery .col {
  padding: 0; }

.instagram-gallery img {
  width: 100%; }

.make-reservation form {
  width: 100%; }

.make-reservation button {
  width: 100%; }

.make-reservation .col-lg-4 {
  padding-right: 5px;
  padding-left: 5px; }

.newsletter {
  background-color: #000000;
  color: white;
  padding: 50px 0; }
  .newsletter button {
    width: 100%; }
  .newsletter i {
    color: white;
    font-size: 1.5rem; }
  .newsletter .social-icons-parent {
    text-align: center; }
    .newsletter .social-icons-parent .social-icons {
      display: inline-block; }

.newsletter-alt {
  background-color: #F83D3D;
  color: white;
  padding: 50px 0; }
  .newsletter-alt button {
    width: 100%;
    background-color: black; }
  .newsletter-alt i {
    color: white;
    font-size: 1.5rem; }
  .newsletter-alt .social-icons-parent {
    text-align: center; }
    .newsletter-alt .social-icons-parent .social-icons {
      display: inline-block; }

#banner-menu {
  background-image: url(../images/banner-menu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.main-banner h1 {
  color: white; }

.main-banner .row {
  padding: 6rem 0; }

.menu .container {
  border: 10px solid grey; }

.menu .menu-section {
  background-color: #d1d1d1e7; }

.menu h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0; }

.our-food {
  background-color: #F83D3D;
  color: white; }
  .our-food button {
    border: 1px solid white; }
  .our-food img {
    width: 100%; }

.our-story img {
  width: 100%; }

.testimonials i {
  font-size: 4rem; }

footer {
  background-color: #000000; }
  footer h2 {
    color: white; }
  footer p {
    color: white;
    line-height: 1.5;
    margin-bottom: .25rem; }
  footer a {
    color: white;
    display: block; }
